.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  border: none;
  margin: 7px;
  display: flex;
  align-items: center;
  font-size: 30px;
  padding: 5px 10px;
}

.active-btn {
  background: rgb(188, 188, 201);
  background: linear-gradient(
    90deg,
    rgba(188, 188, 201, 1) 0%,
    rgba(59, 48, 88, 0.9926733877144608) 33%,
    rgba(59, 48, 88, 1) 66%,
    rgba(188, 188, 201, 1) 100%
  );
  color: black;
  border-radius: 10px;
  border: 1px solid;
  font-size: 30px;
  padding: 5px 10px;
}
