.main-container {
  padding: 30px;
  margin: 20px;
}

.table-head {
  border: none;
  background: rgb(188, 188, 201);
  background: linear-gradient(
    90deg,
    rgba(188, 188, 201, 1) 0%,
    rgba(59, 48, 88, 0.9926733877144608) 33%,
    rgba(59, 48, 88, 1) 66%,
    rgba(188, 188, 201, 1) 100%
  );
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.delete-btn {
  border: 1px solid black !important;
  background: rgb(188, 188, 201);
  background: linear-gradient(
    90deg,
    rgba(188, 188, 201, 1) 0%,
    rgba(59, 48, 88, 0.9926733877144608) 33%,
    rgba(59, 48, 88, 1) 66%,
    rgba(188, 188, 201, 1) 100%
  );
  color: black !important;
}
